*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background: #000430;
    --secondaryBackground : #171c48;
    --text : #fff ;
    --purple : #828dff;
    --teal : #24feee;
}

body{
    background-color: var(--background);
    color: var(--text);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 75px auto 0 auto;
    max-width: 500px;
}

.stats-container{
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 35px;
    border-radius: 10px;
    border: 2px solid var(--purple);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.details{
    width: 100%;
}
#progessBar{
    width: 100%;
    height: 8%;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 10px;
}

#progess{
    width: 100%;
    height: 8%;
    background-color: var(--teal);
    

}